{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <center><h1>Register an account.</h1></center>
{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <center>
            <button name="submit" class="btn btn-primary">Register</button>
            </center>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}
