{% extends "learning_logs/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <center><h1 class="display-3">Track your learning.<h1></center>

        <center>
            <p class="lead">Make your own Learning Log, and keep a list of the
                topics you're learning about. Or make a topic about something else.
                You can either keep your entries private or make it public, so
                anyone can read and comment.</p>
        </center>

        {% if not user.is_authenticated %}
            <center><a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
                            role="button">Register &raquo;</a></center>
        {% else %}
            <center><a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}"
                            role="button">View topics &raquo;</a></center>
        {% endif %}
    </div>
{% endblock page_header %}
