{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <center>
    <h1><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h1>
    <h2>Add a new entry:</h2>
    </center>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" clas="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <center><button name="submit" class="btn btn-primary">
                    Add entry</button></center>
        {% endbuttons %}
    </form>
{% endblock content %}
